body{
    background-color: bisque;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: turquoise;
}

#hedgehog-img {
display:block;
margin: auto;
}

#worm-img {
    display: block;
    margin: auto;
    margin-top:50px;
    width: 200px;
}

#worm-eating{
    text-align: center;
    font-size: large;
    width: 200px;
    margin:auto;
    margin-top:10px;
    font-weight: bold;
    background-color: aqua;
}

.hidden {
    display: none;
}
