body{
    background-color: bisque;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: turquoise;
}

#hedgehog-img {
display:block;
margin: auto;
}

.hidden {
    display: none;
}
