body{
    background-color: bisque;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: turquoise;
}

#hedgehog-img {
display:block;
margin: auto;
}

#power-ups{
    position:absolute;
    margin-left:15px;
    border:solid 5px black;
    padding:5px;
}

#power-up-heading{
    text-align: center;
    text-decoration: underline;
    font-size:medium;
}

#worm-catching-upgrade{
    border: solid 3px greenyellow;
    padding: 3px;
    margin-right:30px;
    margin-top:5px;
    background-color: antiquewhite;
    font-weight: bold;
}

#fren{
    position:absolute;
    right: 30px;
    border: solid 5px black;
    padding: 5px;
    font-size:medium;
    font-weight: bold;
    background-color:pink;
}

#worm-img {
    display: block;
    margin: auto;
    margin-top:50px;
    width: 200px;
}

#worm-eating{
    text-align: center;
    font-size: large;
    width: 200px;
    margin:auto;
    margin-top:10px;
    font-weight: bold;
    background-color: aqua;
}

.hidden {
    display: none;
}
